# Exclude modules brought in by npm install
/node_modules/

# Exclude temporary storage used at runtime (when used as server instead of module)
/tmp/

# Exclude debug log recorded by service
/npm-debug.log

# Exclude cached credentials
/.amazon-credentials.json
